<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>ValidateFilter</filter-name>
        <filter-class>com.bookstore.Filter.ValidateFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ConfirmFilter</filter-name>
        <filter-class>com.bookstore.Filter.ConfirmFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ValidateMailFilter</filter-name>
        <filter-class>com.bookstore.Filter.ValidateMailFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CheckPassFilter</filter-name>
        <filter-class>com.bookstore.Filter.CheckPassFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>com.bookstore.Filter.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CheckActionFilter</filter-name>
        <filter-class>com.bookstore.Filter.CheckActionFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CheckExistFilter</filter-name>
        <filter-class>com.bookstore.Admin.CheckExistFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CheckSellerExistFilter</filter-name>
        <filter-class>com.bookstore.Seller.CheckSellerExistFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DiscountCheckFilter</filter-name>
        <filter-class>com.bookstore.Admin.DiscountCheckFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DiscountCheckFilter</filter-name>
        <servlet-name>AdNewDiscountController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckSellerExistFilter</filter-name>
        <servlet-name>SellerEditProfileController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckExistFilter</filter-name>
        <servlet-name>AdEditProfileController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>AdHomeController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>AdSellerController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>AdminController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>AdImporterController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>AddSellerNavController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>AddImpNavController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>AddNewSellerController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>AddNewImpController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>AdProfileController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckPassFilter</filter-name>
        <servlet-name>ResetPassController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ValidateMailFilter</filter-name>
        <servlet-name>PasswordController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ConfirmFilter</filter-name>
        <servlet-name>RegisterController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ValidateFilter</filter-name>
        <servlet-name>LoginController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckActionFilter</filter-name>
        <servlet-name>LoginController</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.bookstore.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>com.bookstore.VerifyEmail.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyController</servlet-name>
        <servlet-class>com.bookstore.VerifyEmail.VerifyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendGmailController</servlet-name>
        <servlet-class>com.bookstore.VerifyEmail.SendGmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordController</servlet-name>
        <servlet-class>com.bookbook.ResetPass.PasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyMailController</servlet-name>
        <servlet-class>com.bookbook.ResetPass.VerifyMailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCodeController</servlet-name>
        <servlet-class>com.bookbook.ResetPass.GetCodeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassController</servlet-name>
        <servlet-class>com.bookbook.ResetPass.ResetPassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.bookstore.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdImporterController</servlet-name>
        <servlet-class>com.bookstore.Admin.AdImporterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdHomeController</servlet-name>
        <servlet-class>com.bookstore.Admin.AdHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WarnningController</servlet-name>
        <servlet-class>com.bookstore.controller.WarningController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdSellerController</servlet-name>
        <servlet-class>com.bookstore.Admin.AdSellerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>com.bookstore.Admin.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSellerNavController</servlet-name>
        <servlet-class>com.bookstore.Admin.AddSellerNavController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddImpNavController</servlet-name>
        <servlet-class>com.bookstore.Admin.AddImpNavController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewSellerController</servlet-name>
        <servlet-class>com.bookstore.Admin.AddNewSellerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewImpController</servlet-name>
        <servlet-class>com.bookstore.Admin.AddNewImpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailController</servlet-name>
        <servlet-class>com.bookstore.controller.DetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>com.bookstore.controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingController</servlet-name>
        <servlet-class>com.bookstore.controller.ShoppingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginNavController</servlet-name>
        <servlet-class>com.bookstore.controller.LoginNavController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdProfileController</servlet-name>
        <servlet-class>com.bookstore.Admin.AdProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdEditProfileNavController</servlet-name>
        <servlet-class>com.bookstore.Admin.AdEditProfileNavController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdEditProfileController</servlet-name>
        <servlet-class>com.bookstore.Admin.AdEditProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusHomeController</servlet-name>
        <servlet-class>com.bookstore.Customer.CusHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusViewProfileController</servlet-name>
        <servlet-class>com.bookstore.Customer.CusViewProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusChangePasswordController</servlet-name>
        <servlet-class>com.bookstore.Customer.CusChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusEditProfileController</servlet-name>
        <servlet-class>com.bookstore.Customer.CusEditProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusEditProfileNavController</servlet-name>
        <servlet-class>com.bookstore.Customer.CusEditProfileNavController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdCustomerController</servlet-name>
        <servlet-class>com.bookstore.Admin.AdCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdBlacklistController</servlet-name>
        <servlet-class>com.bookstore.Admin.AdBlacklistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBlacklistController</servlet-name>
        <servlet-class>com.bookstore.Admin.AddBlacklistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusHomeNavController</servlet-name>
        <servlet-class>com.bookstore.Customer.CusHomeNavController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdChangePassNavController</servlet-name>
        <servlet-class>com.bookstore.Admin.AdChangePassNavController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdChangePassController</servlet-name>
        <servlet-class>com.bookstore.Admin.AdChangePassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestoreBlacklistController</servlet-name>
        <servlet-class>com.bookstore.Admin.RestoreBlacklistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpHomeController</servlet-name>
        <servlet-class>com.bookstore.Importer.ImpHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpController</servlet-name>
        <servlet-class>com.bookstore.Importer.ImpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpReceiptController</servlet-name>
        <servlet-class>com.bookstore.Importer.ImpReceiptController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpCreateReceiptController</servlet-name>
        <servlet-class>com.bookstore.Importer.ImpCreateReceiptController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpDetailReceipt</servlet-name>
        <servlet-class>com.bookstore.Importer.ImpDetailReceipt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpCreateCompanyController</servlet-name>
        <servlet-class>com.bookstore.Importer.ImpCreateCompanyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpCompanyController</servlet-name>
        <servlet-class>com.bookstore.Importer.ImpCompanyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpProfileController</servlet-name>
        <servlet-class>com.bookstore.Importer.ImpProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerController</servlet-name>
        <servlet-class>com.bookstore.Seller.SellerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerhomeController</servlet-name>
        <servlet-class>com.bookstore.Seller.SellerhomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerAddBookController</servlet-name>
        <servlet-class>com.bookstore.Seller.SellerAddBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerDisplayBookController</servlet-name>
        <servlet-class>com.bookstore.Seller.SellerDisplayBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBook</servlet-name>
        <servlet-class>com.bookstore.Seller.ListBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>com.bookstore.controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>com.bookstore.controller.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adFeedbackController</servlet-name>
        <servlet-class>com.bookstore.Admin.adFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdFeedCateController</servlet-name>
        <servlet-class>com.bookstore.Admin.AdFeedCateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdFeedbackDetail</servlet-name>
        <servlet-class>com.bookstore.Admin.AdFeedbackDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdBookController</servlet-name>
        <servlet-class>com.bookstore.Admin.AdBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerOrderController</servlet-name>
        <servlet-class>com.bookstore.Seller.SellerOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerOrderDetailController</servlet-name>
        <servlet-class>com.bookstore.Seller.SellerOrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerUpdateStatusController</servlet-name>
        <servlet-class>com.bookstore.Seller.SellerUpdateStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerEditProfileNav</servlet-name>
        <servlet-class>com.bookstore.Seller.SellerEditProfileNav</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerProfileController</servlet-name>
        <servlet-class>com.bookstore.Seller.SellerProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerEditProfileController</servlet-name>
        <servlet-class>com.bookstore.Seller.SellerEditProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerChangeNav</servlet-name>
        <servlet-class>com.bookstore.Seller.SellerChangeNav</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerChangePassController</servlet-name>
        <servlet-class>com.bookstore.Seller.SellerChangePassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusDetailController</servlet-name>
        <servlet-class>com.bookstore.Customer.CusDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusShoppingController</servlet-name>
        <servlet-class>com.bookstore.Customer.CusShoppingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusSearchController</servlet-name>
        <servlet-class>com.bookstore.Customer.CusSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusCategoryController</servlet-name>
        <servlet-class>com.bookstore.Customer.CusCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>com.bookstore.Cart.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>com.bookstore.Cart.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusOrderHome</servlet-name>
        <servlet-class>com.bookstore.Customer.CusOrderHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusCartController</servlet-name>
        <servlet-class>com.bookstore.Cart.CusCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyLoginNav</servlet-name>
        <servlet-class>com.bookstore.VerifyLogin.VerifyLoginNav</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendLoginController</servlet-name>
        <servlet-class>com.bookstore.VerifyLogin.SendLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyLoginController</servlet-name>
        <servlet-class>com.bookstore.VerifyLogin.VerifyLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdDiscountController</servlet-name>
        <servlet-class>com.bookstore.Admin.AdDiscountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdNewDiscountNav</servlet-name>
        <servlet-class>com.bookstore.Admin.AdNewDiscountNav</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdNewDiscountController</servlet-name>
        <servlet-class>com.bookstore.Admin.AdNewDiscountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdDeleteDisController</servlet-name>
        <servlet-class>com.bookstore.Admin.AdDeleteDisController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdDeleteBookController</servlet-name>
        <servlet-class>com.bookstore.Admin.AdDeleteBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdEditBookController</servlet-name>
        <servlet-class>com.bookstore.Admin.AdEditBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdUnpostController</servlet-name>
        <servlet-class>com.bookstore.Admin.AdUnpostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdUploadController</servlet-name>
        <servlet-class>com.bookstore.Admin.AdUploadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusOrderDetailHome</servlet-name>
        <servlet-class>com.bookstore.Customer.CusOrderDetailHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusHistoryHome</servlet-name>
        <servlet-class>com.bookstore.Customer.CusHistoryHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusFeedBackController</servlet-name>
        <servlet-class>com.bookstore.Customer.CusFeedBackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusEditNoteController</servlet-name>
        <servlet-class>com.bookstore.Customer.CusEditNoteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusHistoryOrderDetailHomeController</servlet-name>
        <servlet-class>com.bookstore.Customer.CusHistoryOrderDetailHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusFeedHomeController</servlet-name>
        <servlet-class>com.bookstore.Customer.CusFeedHomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyController</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendGmailController</servlet-name>
        <url-pattern>/send</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordController</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyMailController</servlet-name>
        <url-pattern>/getnew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCodeController</servlet-name>
        <url-pattern>/getcode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassController</servlet-name>
        <url-pattern>/reset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdImporterController</servlet-name>
        <url-pattern>/admin/adimporter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdHomeController</servlet-name>
        <url-pattern>/admin/adhome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WarnningController</servlet-name>
        <url-pattern>/admin/warning</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdSellerController</servlet-name>
        <url-pattern>/admin/adseller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/admin/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSellerNavController</servlet-name>
        <url-pattern>/admin/addsellernav</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddImpNavController</servlet-name>
        <url-pattern>/admin/addimpnav</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewSellerController</servlet-name>
        <url-pattern>/admin/addnewseller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewImpController</servlet-name>
        <url-pattern>/admin/addnewimp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailController</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingController</servlet-name>
        <url-pattern>/shopping</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginNavController</servlet-name>
        <url-pattern>/loginnav</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdProfileController</servlet-name>
        <url-pattern>/admin/adProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdEditProfileNavController</servlet-name>
        <url-pattern>/admin/editProfileNav</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdEditProfileController</servlet-name>
        <url-pattern>/admin/adEditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusHomeController</servlet-name>
        <url-pattern>/customer/cushome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusViewProfileController</servlet-name>
        <url-pattern>/customer/cusview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusChangePasswordController</servlet-name>
        <url-pattern>/customer/cuschangepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusEditProfileController</servlet-name>
        <url-pattern>/customer/cuseditprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusEditProfileNavController</servlet-name>
        <url-pattern>/customer/editprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdCustomerController</servlet-name>
        <url-pattern>/admin/adcustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdBlacklistController</servlet-name>
        <url-pattern>/admin/blacklist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBlacklistController</servlet-name>
        <url-pattern>/admin/addBlacklist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusHomeNavController</servlet-name>
        <url-pattern>/customer/cushomenav</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdChangePassNavController</servlet-name>
        <url-pattern>/admin/changenav</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdChangePassController</servlet-name>
        <url-pattern>/admin/adChangePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestoreBlacklistController</servlet-name>
        <url-pattern>/admin/restore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpHomeController</servlet-name>
        <url-pattern>/importer/imphome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpController</servlet-name>
        <url-pattern>/importer/ImpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpReceiptController</servlet-name>
        <url-pattern>/importer/ImpReceiptController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpCreateReceiptController</servlet-name>
        <url-pattern>/importer/ImpCreateReceiptController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpDetailReceipt</servlet-name>
        <url-pattern>/importer/ImpDetailReceipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpCreateCompanyController</servlet-name>
        <url-pattern>/importer/ImpCreateCompanyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpCompanyController</servlet-name>
        <url-pattern>/importer/ImpCompanyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpProfileController</servlet-name>
        <url-pattern>/importer/ImpProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerController</servlet-name>
        <url-pattern>/Seller/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerhomeController</servlet-name>
        <url-pattern>/Seller/sellerhome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerAddBookController</servlet-name>
        <url-pattern>/Seller/addbooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerDisplayBookController</servlet-name>
        <url-pattern>/Seller/displaybook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBook</servlet-name>
        <url-pattern>/Seller/listbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adFeedbackController</servlet-name>
        <url-pattern>/admin/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdFeedCateController</servlet-name>
        <url-pattern>/admin/feedbackCate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdFeedbackDetail</servlet-name>
        <url-pattern>/admin/feedbackDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdBookController</servlet-name>
        <url-pattern>/admin/adbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerOrderController</servlet-name>
        <url-pattern>/Seller/sellerOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerOrderDetailController</servlet-name>
        <url-pattern>/Seller/sellerOrderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerUpdateStatusController</servlet-name>
        <url-pattern>/Seller/selledUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerEditProfileNav</servlet-name>
        <url-pattern>/Seller/sellereditProfileNav</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerProfileController</servlet-name>
        <url-pattern>/Seller/sellerProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerEditProfileController</servlet-name>
        <url-pattern>/Seller/sellerEditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerChangeNav</servlet-name>
        <url-pattern>/Seller/sellerchangenav</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerChangePassController</servlet-name>
        <url-pattern>/Seller/sellerChangePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusDetailController</servlet-name>
        <url-pattern>/customer/cusdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusShoppingController</servlet-name>
        <url-pattern>/customer/cusshopping</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusSearchController</servlet-name>
        <url-pattern>/customer/cusSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusCategoryController</servlet-name>
        <url-pattern>/customer/cuscategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/customer/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusOrderHome</servlet-name>
        <url-pattern>/customer/cusorderhome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusCartController</servlet-name>
        <url-pattern>/customer/cuscart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyLoginNav</servlet-name>
        <url-pattern>/verifyLoginNav</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendLoginController</servlet-name>
        <url-pattern>/sendlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyLoginController</servlet-name>
        <url-pattern>/loginVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdDiscountController</servlet-name>
        <url-pattern>/admin/addiscount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdNewDiscountNav</servlet-name>
        <url-pattern>/admin/addiscountnav</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdNewDiscountController</servlet-name>
        <url-pattern>/admin/addnewdis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdDeleteDisController</servlet-name>
        <url-pattern>/admin/deleteDiscount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdDeleteBookController</servlet-name>
        <url-pattern>/admin/addeleteBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdEditBookController</servlet-name>
        <url-pattern>/admin/adEditBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdUnpostController</servlet-name>
        <url-pattern>/admin/adUnpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdUploadController</servlet-name>
        <url-pattern>/admin/adUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusOrderDetailHome</servlet-name>
        <url-pattern>/customer/cusorderdetailhome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusHistoryHome</servlet-name>
        <url-pattern>/customer/cushistoryhome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusFeedBackController</servlet-name>
        <url-pattern>/customer/cusfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusEditNoteController</servlet-name>
        <url-pattern>/customer/cuseditnote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusHistoryOrderDetailHomeController</servlet-name>
        <url-pattern>/customer/cushistoryorderdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusFeedHomeController</servlet-name>
        <url-pattern>/customer/cusfeedhome</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
